.container {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: #f9fafb;
    border: 1px solid 'ddd';
    border-radius: 12px;
     font-family: Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0,0,0,1);
}

.container h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #4f46e5; /* Indigo */
  margin-bottom: 20px;
}

.container form {
    width: 100%;
    padding: 12px 0;
}

.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
    font-size: 1rem;
}

.container input {
    margin-bottom: 6px;
}
.container button {
    width: 100%;
    padding: 12px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1 rem;
    margin-top: 15px;
    transition: background-color 0.3s;
} 

.container button:hover:not(:disabled) {
  background-color: #4338ca; /* darker indigo */
}

.msg {
  color: red;
  text-align: center;
  margin-top: 10px;
}


.loginLink {
  text-align: center;
  margin-top: 15px;
}

.loginLink a {
  color: #10b981; /* emerald green */
  text-decoration: none;
}

.loginLink a:hover {
  text-decoration: underline;
}