.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: sans-serif;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: indigo;
}

.content {
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  margin-top: 1rem;
  white-space: pre-wrap; 
}

.notFound {
  text-align: center;
  color: red;
  font-size: 1.2rem;
  margin-top: 2rem;
}
