.body {
  padding: 2rem;
  font-family: sans-serif;
}

.header {
  margin-bottom: 2rem;
  text-align: center;
}

.siteTitle {
  font-size: 2rem;
  color: white;
  margin-bottom: 0.5rem;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.navLink {
  text-decoration: none;
  color: #0070f3;
  font-weight: 500;
}

.navLink:hover {
  text-decoration: underline;
}
